@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<link href="css/index-cards.css" rel="stylesheet" />

<div class="card-deck">
    @foreach (var assembly in Context.Assemblies)
    {
        string href = $"/assembly/{assembly.Id}";
        <Card id="@assembly.Id" class="my-3">
            <a href='assembly/@assembly.Id' style='position: absolute; top: 0; left: 0; height: 100%; width: 100%;'></a>
            <CardBody class="card-body">
                <CardTitle Size="4">@assembly.Name</CardTitle>
                <CardText>@assembly.FullName</CardText>
                <CardLink Source="@href" Alt="@assembly.Name">View</CardLink>
            </CardBody>
        </Card>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (Context.Assemblies.IsNullOrEmpty())
        {
            Context.Assemblies = await Http.GetFromJsonAsync<AssemblyModel[]>("js/assemblies.json");
        }
    }
}